#editBackground{
    height:100vh;
    background-color: darkorchid;
    display:flex;
    justify-content: space-evenly;
}
.editBoxes{
    margin:50px;
    background-color: rgb(233, 104, 104);
}
#customizeAll{
    justify-content:center;
    align-items: center;
}
#textBoxes{
    width:300px;
    height:auto;
}
.selectLabels{
    margin-top: 10px;
}
.flipBoxes{
    width:210px;
    height:110px;
    background-color: lightblue;
    display: flex;
    justify-content: 'center';
    align-items: 'center';
}